################################################################################
# PROJECT SETTINGS
################################################################################
DEPLOYMENT_TYPE=development
TZ=America/Los_Angeles


################################################################################
# DB
################################################################################
POSTGRES_USER=postgres
POSTGRES_PASS=password
POSTGRES_PORT=5432
# this is the name of our db container that we want to link:
POSTGRES_HOST=postgis
PGDATABASE=shareabouts_v2
# For backup files, default is 'PG'
DUMPPREFIX=my-project


################################################################################
# LETSENCRYPT
################################################################################
# be sure to delete your test certs before creating a real cert
# limit of 20 new certs per week
LETSENCRYPT_DEBUG_MODE=true
# domains for the letsencrypt cert (separated by a single space):
LETSENCRYPT_DOMAINS="www.mysite.com mysite.com"
LETSENCRYPT_EMAIL=me@mysite.com


################################################################################
# NGINX-LETSENCRYPT SERVER
################################################################################
# domains for our nginx config:
DOMAINS=$LETSENCRYPT_DOMAINS
# unless you already have a domain name folder under /etc/letsencrypt/live that is in your cert's list of domains, MY_DOMAINS_NAME should just be the first domain name in the LETSENCRYPT_DOMAINS list
MY_DOMAIN_NAME=www.mysite.com
